# Integration Tests build output
/integration-tests/**/fixtures/**/*.tar.gz
/integration-tests/**/fixtures/**/fastly.toml
/integration-tests/**/fixtures/**/*.wasm

/bin/*
/tests/jest-results.json
runner.js

node_modules/
.DS_Store
dist/
integration-tests/test-files/output.wasm
# *.o
# *.d
/rusturl/
# compiler_flags

/runtime/fastedge/build-*
lib/
*.a
yarn-error.log
