[submodule "runtime/StarlingMonkey"]
	path = runtime/StarlingMonkey
	url = https://github.com/bytecodealliance/StarlingMonkey.git
[submodule "runtime/FastEdge-wit"]
	path = runtime/FastEdge-wit
	url = https://github.com/G-Core/FastEdge-wit.git
