<html>
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8" />
    <title>Template page</title>
    <meta name="description" content="This is a template page example" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Template rendered page" />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <img src="/images/gcore.png" alt="Gcore Logo" class="logo" />
    <h1>Template rendered Page</h1>
    <p>
      This is a Template rendered page. Example of how to read files from static
      assets.
    </p>
    <div class="home-nav">
      <a href="/">
        <img src="/images/home.png" alt="Home Button" />
      </a>
    </div>
  </body>
  <footer>
    <p>
      FastEdge Examples. Built with
      <a href="https://hono.dev" target="_blank"> Hono </a>
      and
      <a href="https://gcore.com/fastedge" target="_blank"> FastEdge </a>
      .
    </p>
  </footer>
</html>
