name: Build /libs directory

on:
  workflow_call:
    secrets:
      VAULT_TOKEN:
        required: true

jobs:
  build_fastedge_libs:
    runs-on: [self-hosted, ubuntu-22-04, regular]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node Environment
        uses: ./.github/setup-node

      - name: Set up repo submodules
        run: git submodule update --init --recursive

      - name: Ensure build folders are empty # Should already be empty
        run: |
          rm -rf lib/*
          rm -rf bin/*

      - name: Restore build cache
        id: restore-build-cache
        uses: actions/cache/restore@v4
        with:
          path: |
            lib/
            bin/
            types/
          key: ${{ runner.os }}-libs-artifact-test
          # key: ${{ runner.os }}-libs-artifact-${{ github.sha }}

      - name: Import Secrets
        uses: hashicorp/vault-action@v3
        if: steps.restore-build-cache.outputs.cache-hit != 'true'
        id: secrets
        with:
          url: https://puppet-vault.gc.onl
          token: ${{ secrets.VAULT_TOKEN }}
          secrets: |
            secret/project_fastedge/harbor-robot-account password | HARBOR_PASSWORD ;
            secret/project_fastedge/harbor-robot-account username | HARBOR_LOGIN ;

      - name: Login to Harbor
        uses: docker/login-action@v3
        if: steps.restore-build-cache.outputs.cache-hit != 'true'
        with:
          registry: harbor.p.gc.onl
          username: ${{ steps.secrets.outputs.HARBOR_LOGIN }}
          password: ${{ steps.secrets.outputs.HARBOR_PASSWORD }}

      - name: Build docker images
        if: steps.restore-build-cache.outputs.cache-hit != 'true'
        run: docker build -t clang-monkey .

      - name: Build FastEdge runtime libs
        if: steps.restore-build-cache.outputs.cache-hit != 'true'
        run: docker run -v $(pwd)/lib:/usr/src/app/lib clang-monkey

      - name: Build Javascript libs
        if: steps.restore-build-cache.outputs.cache-hit != 'true'
        run: npm run build:js

      - name: Run Integration Tests
        run: npm run test:integration

      - name: Save build cache
        id: save-build-cache
        uses: actions/cache/save@v4
        with:
          path: |
            lib/
            bin/
            types/
          key: ${{ runner.os }}-libs-artifact-test
          # key: ${{ runner.os }}-libs-artifact-${{ github.sha }}
