name: Code Validation

on:
  workflow_call:

jobs:
  code_validation:
    runs-on: [self-hosted, ubuntu-22-04, regular]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node Environment
        uses: ./.github/setup-node

      - name: ESlint
        run: |
          npm run lint

      - name: File naming convention
        run: |
          ./scripts/filename-validation.sh
