name: Deploy Docs to Github Pages

on:
  push:
    branches: ['main']
    paths:
      - 'docs/**'

  workflow_dispatch: # trigger manually

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

env:
  BUILD_PATH: './docs'

jobs:
  build:
    name: Build Static Docs
    runs-on: [self-hosted, ubuntu-22-04, regular]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node Environment
        uses: ./.github/setup-node
        with:
          working-directory: ${{ env.BUILD_PATH }}

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Vars
        run: |
          echo "astro origin=${{ steps.pages.outputs.origin }}"
          echo "astro base_path=${{ steps.pages.outputs.base_path }}"

      - name: Build with Astro
        run: |
          npm run build -- \
            --site "${{ steps.pages.outputs.origin }}" \
            --base "${{ steps.pages.outputs.base_path }}"
        working-directory: ${{ env.BUILD_PATH }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.BUILD_PATH }}/dist

  deploy:
    name: Deploy Static Docs
    needs: build
    runs-on: [self-hosted, ubuntu-22-04, regular]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
