name: Build and run application

on:
  workflow_call:

jobs:
  prod-test-invocation:
    runs-on: [self-hosted, ubuntu-22-04, regular]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node Environment
        uses: ./.github/setup-node

      # todo: Farq: main??
      - name: Validate PR is merged into main
        id: branch-check
        shell: bash
        run: |
          if [ "${{ github.ref }}" == "refs/heads/alpha" ]; then
            echo "run_test=true" >> $GITHUB_OUTPUT
          else
            echo "This action only runs on merges to main branch. Skipping tests!"
            echo "run_test=false" >> $GITHUB_OUTPUT
          fi

      - name: Restore build cache
        id: restore-build-cache
        if: steps.branch-check.outputs.run_test == 'true'
        uses: actions/cache/restore@v4
        with:
          path: |
            lib/
            bin/
            types/
          key: ${{ runner.os }}-libs-artifact-${{ github.sha }}

      - name: Create and build test application
        if: steps.branch-check.outputs.run_test == 'true'
        uses: actions/github-script@v8
        with:
          script: |
            const script = require('./.github/scripts/test-prod-invocation/create-test-app.js')
            await script({github, context, core})

      - name: Deploy Test App to FastEdge
        if: steps.branch-check.outputs.run_test == 'true'
        uses: gcore-github-actions/fastedge/deploy-app@v1
        with:
          api_key: ${{ secrets.GCORE_API_KEY }}
          wasm_file: /integration-tests/test-application/test-app.wasm
          app_name: 'fastedge-sdk-js-test-app'

      - name: Invoke test application
        if: steps.branch-check.outputs.run_test == 'true'
        uses: actions/github-script@v8
        with:
          script: |
            const script = require('./.github/scripts/test-prod-invocation/invoke-test-app.js')
            await script({github, context, core})
