name: Release

on:
  workflow_call:
    inputs:
      dry_run:
        required: true
        type: string
    secrets:
      GH_TOKEN:
        required: true

jobs:
  release:
    name: NPM Release
    runs-on: ubuntu-latest # Use a standard runner for Trusted Publishing
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write # For npm provenance ( Trusted publishing )

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node Environment
        uses: ./.github/setup-node

      - name: Restore build cache
        id: restore-build-cache
        uses: actions/cache/restore@v4
        with:
          path: |
            lib/
            bin/
            types/
          key: ${{ runner.os }}-libs-artifact-${{ github.sha }}

      - name: Ensure build folders are valid
        shell: bash
        run: |
          if [ ! -d "lib" ] || [ ! -d "bin" ] || [ ! -d "types" ]; then
            echo "Build folders are missing. Please run the build-libs workflow before releasing."
            exit 1
          fi

      - name: Dry Run Status
        id: dry_run
        run: |
          if [[ ${{ inputs.dry_run }} == true ]]; then
            echo "Running NPM release in dry-run mode"
            echo "dry_run=--dry-run" >> $GITHUB_OUTPUT
          else
            echo "Running NPM release in production mode"
            echo "dry_run=" >> $GITHUB_OUTPUT
          fi

      - name: Semantic Release
        env:
          # NPM_TOKEN is not set as we are using NPM's Trusted Publishing with OIDC
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          CI: true # Used to bypass husky hooks
        run: pnpm dlx semantic-release@25 ${{ steps.dry_run.outputs.dry_run }}
