name: Unit Tests

on:
  workflow_call:

jobs:
  unit_tests:
    runs-on: [self-hosted, ubuntu-22-04, regular]

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node Environment
        uses: ./.github/setup-node
        with:
          node_version: ${{ matrix.node-version }}

      - name: Unit Tests
        run: |
          npm run test:unit
